body{
    background-image:url('../image/grey.png');
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: white;

}

#content {
    position: fixed;
    top: 70px;
    bottom: 80px;
    left: 0;
    right: 0;
    background-color: white;
    overflow: auto;
    margin-left:10%;
    margin-right:10%;
    border-radius:15px;
    text-align:center;
}
table{
    margin:auto;
    font-size:1.5em;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: white;

}