
<!--DO NOT CHANGE THIS FILE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
<!--DO NOT CHANGE THIS FILE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
<!--DO NOT CHANGE THIS FILE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
<!--DO NOT CHANGE THIS FILE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
<!--DO NOT CHANGE THIS FILE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
<!--DO NOT CHANGE THIS FILE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
<!--DO NOT CHANGE THIS FILE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/base.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div id="header"></div>
    <div id="content">
    </div>
    <div id="footer"></div>
</body>
</html>