<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/login.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div id="header">
    </div>
    <div id="content">
        <h2>Please log in</h2>
        <form method="post" action="/getdata/">
            <table>


                <tr>
                    <td>Enter your email:</td>
                    <td><input placeholder="email:"type="email" name="email"/></td>
                </tr>

                <tr>
                    <td>Enter your password:</td>
                    <td><input placeholder="password:"type="password" name="password"/></td>
                </tr>
                <tr>
                    <td>
                        <button>Log in</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div id="footer"></div>
</body>
</html>