<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/signup.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div id="header">
    </div>
    <div id="content">
        <h2>New User Information</h2>
        <form method="post" action="/getdata/">
            <table>
                <tr>
                    <td>Enter your first name:</td>
                    <td><input placeholder="first name:" type="text" name="fname"/></td>
                </tr>
                <tr>
                    <td>Enter your last name:</td>
                    <td><input placeholder="last name:"type="text" name="lname"/></td>
                </tr>
                <tr>
                    <td>Enter your email:</td>
                    <td><input placeholder="email:"type="email" name="email"/></td>
                </tr>
                <tr>
                    <td>Enter your phone:</td>
                    <td><input placeholder="phone:"type="text" name="phone"/></td>
                </tr>
                <tr>
                    <td>Enter your password:</td>
                    <td><input placeholder="password:"type="password" name="password"/></td>
                </tr>
                tr>
                    <td>Enter your password again:</td>
                    <td><input placeholder="password:"type="password" name="password"/></td>
                </tr>
                <tr>
                    <td>
                        <button>Submit Form</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div id="footer"></div>
</body>
</html>